/*========== EDUCATION AND EXPERIENCE ==========*/
.education__content,
.experience__content{
  display: flex;
}

.education__time,
.experience__time{
  padding-right: 1rem;
}

.education__rounder,
.experience__rounder{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: .25rem;
}

.education__line,
.experience__line{
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  transform: translate(7px,0);
}

.education__data,
.experience__data{
  gap: .5rem;
}

.education__title,
.experience__title{
  font-size: var(--h3-font-size);
}

.education__studies,
.experience__company{
  font-size: var(--small-font-size);
  color: var(--title-color)
}

.education__year{
  font-size: var(--smaller-font-size);
}