/*========== SKILLS AND LANGUAGES ==========*/
.skills__content,
.languages__content{
  grid-template-columns: repeat(2,1fr);
}

.skills__content{
  gap: 0;
}

.skills__name,
.languages__name{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.skills__circle,
.languages__circle{
  display: none;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: .25rem;
}

@media screen and (min-width: 968px){
    .languages__content{
        grid-template-columns: repeat(3, max-content);
        column-gap: 3.5rem;
    }
}
